#aboutMe {
    background-color: var(--clr-dark);
    background-image: url(../images/background.jpg);
    color: var(--clr-light);
    background-size: cover;
    background-blend-mode: multiply;
    width: 100%;
    height:100%;
}

#about-me-title {color: var(--clr-silver);}
#about-me-section { padding: 2em 5em; }

.para-about {
    margin: 12px 10% 4px 8%; 
}

#about-me-sub {
    margin: 0px 16em 1em 0;
    height: 2.5em;
    text-align: center;
    padding-top: 8px;
    font-size: 1.5em;
}
