#aboutMe {
    background-color: var(--clr-dark);
    background-image: url(../images/background.jpg);
    color: var(--clr-light);
    background-size: cover;
    background-blend-mode: multiply;
    width: 100%;
    height:100%;
}

#about-me-title {color: var(--clr-silver);}
#about-me-section { padding: 2em 5em; }

.para-about {
    margin: 12px 10% 4px 8%; 
}

#about-me-sub {
    margin: 0px 16em 1em 0;
    height: 2.5em;
    text-align: center;
    padding-top: 8px;
    font-size: 1.5em;
}

@media screen and (max-width:1199px){
    #about-me-section {
        padding: 2em 3em;
    }
}

@media screen and (max-width:1041px){
    #about-me-sub {
        font-size: 1.25em;
    }
}

@media screen and (max-width:991px){
    #about-me-section {
        padding: 2em 0;
    }

    .section-title {
        margin-bottom: .25em;
        font-size: 2em;
    }
}

@media screen and (max-width:800px){
    #about-me-sub {
        font-size: 1em;
    }
}

@media screen and (max-width:767.5px){
    #about-me-sub {
        margin: 0px 0em 0em 0;
        height: 2.5em;
        text-align: center;
        padding-top: 8px;
        font-size: 1em;
    }
    .para-about {
        margin: 12px 5% 4px 6%;
    }

    .section-title {
        margin-bottom: .25em;
        font-size: 2.5em;
        text-align: center;
    }
}

@media screen and (max-width:575px){
    .para-about {
        margin: 12px 7% 4px 8%;
    }
}

@media screen and (max-width:545px){
    .para-about {
        margin: 12px 5% 4px 8%;
    }
}

@media screen and (max-width:520.5px){
    .para-about {
        margin: 12px 5% 4px 7%;
    }

    .section-title {
        margin-bottom: .25em;
        font-size: 2em;
        text-align: center;
        margin-right: .5em;
    }
}

@media screen and (max-width:420px){
    .para-about {
        margin: 12px 3% 4px 3%;
    }
}

@media screen and (max-width:376px){
    #about-me-sub {
        margin: 0px -1em 0em -1em;
    }

    .para-about {
        margin: 12px 0% 4px 0%;
    }

    .section-title {
        margin-bottom: .25em;
        font-size: 1.4em;
        text-align: center;
        margin-right: 1.5em;
    }

    section {
        padding: 2em 2em;
    }
}  

@media screen and (max-width:361px){
    .para-about {
        margin: 12px -3% 4px -3%;
    } 

    .section-title {
        margin-bottom: .25em;
        font-size: 1.2em;
        text-align: center;
        margin-right: 1.5em;
    }
}

@media screen and (max-width:350px){
    #about-me-sub {
        font-size: .8em;
    }

    .para-about {
        margin: 12px -3% 4px -1%;
    }
}

@media screen and (max-width:300px){
    #about-me-sub {
        font-size: .7em;
    }
}
