#contactMe {
    background-color: var(--clr-accent);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-title {
    color: var(--clr-light);
    font-size: 1.7em;
    font-family: var(--ff-secondary);
    margin: 25px 0 10px 0;
}

.icon-item {
    font-size: 2em;
    color: var(--clr-silver);
    margin: 0px 30px 25px;
    text-decoration: none;
}

#email {
    font-size: 1.5em;
    color: var(--clr-light);
    margin: 0px 30px 25px;
}

#email:hover {
    color: var(--clr-dark);
    text-decoration: none;
}

.icon-item:hover {
    color: var(--clr-dark);
    text-decoration: none;
}
