header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav {
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: var(--clr-dark);
    background-image: url(https://media.giphy.com/media/26n6CWImwECKu3fy0/giphy.gif);
    background-size: cover;
    background-blend-mode: multiply;
    width: 100%;
    height:100%;
    color: var(--clr-light);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.navlinks {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

.navlinks a {
    color: var(--clr-light);
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.navlinks a:hover {
    color: var(--clr-accent);
}

.nav-toggle {
    color: var(--clr-silver);
    background: transparent;
    border: none;
    font-size: 2em;
    position: absolute;
    right: .5em;
    top: .5em;
    z-index: 1000;
}

.nav-toggle:hover {
    color: var(--clr-accent);
}

.nav-open .nav{
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

#today-date { 
    font-size: var(--fs-h3);
    margin-left: 1em;
    margin-top: 1.25em;
}

@media screen and (max-width:380px){
    .nav-toggle {
        right: 0em;
    }
    #today-date {
        font-size: 1em;
    }
}

@media screen and (max-width:370px){
    #today-date {
        margin-left: 0.5em;
        margin-top: 1.6em;
        font-size: 1em;
    }
}

@media screen and (max-width:300px){
    #today-date {
        margin-left: 0.2em;
    }

    .nav-toggle {
        right: 0em;
    }
}
