#work-title, #work-sub {text-align: center;}

#work-title {margin-bottom: .15em;}

#work-sub {margin-bottom: 1.5em;}

.work-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-item {
    overflow: hidden;
    height: 12em;
    width: 16em;
    margin: 0 5px 5px 0;
}

.work-img {
    height: 100%;
    width: 100%;
    transition:
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
}

.work-img:hover {
    transform: scale(1.2);
    opacity: .75;
}